@{
    ViewBag.Title = "Nav";
}

<div class="navbar-left">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="@Url.Action("Index","SachOnline")">SachOnline</a>
    <a class="navbar-brand" href="@Url.Action("Index","SachOnline")">Trang Chủ</a>

    <a class="navbar-brand" href="#">Liên Hệ</a>
    <a class="navbar-brand" href="#">Giới Thiệu</a>

    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm">
        </div>
        <button type="submit" class="btn btn-default">Tìm</button>
        <ul class="nav navbar-nav navbar-right">
            @Html.Action("LoginLogout", "SachOnline")
            @Html.Action("GioHangPartial", "GioHang")
        </ul>
    </form>
    
</div>



